<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sirit.android.support.lib">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">

        <activity
            android:name=".login.ThirdLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".share.ThirdShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

    </application>


</manifest>
